[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-rest-knox = "*"
django-bootstrap-v5 = "*"
importlib-metadata = "*"
django-filter = "*"
wfastcgi = "*"
psutil = "*"
channels = "==3.*"
channels-redis = "*"
pyserial = "*"
requests = "*"
xmltodict = "*"
pillow = "*"
daphne = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
