{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mb-5 pb-5">
    <div class="row mt-5">
        <!-- Weight-indicator -->
        <div class="col-md-4">
            <div class="weight-indicator border border-1 p-2 bg-light js-truckscale" data-name="scale_1" data-id="1" data-pk="{{truckscale_1}}">
                <div class="weight-indicator__header row mb-2">
                    <div class="col-md-6">
                        <button type="button" class="js-scale-on btn btn-primary">ON</button>
                        <button type="button" class="js-scale-off btn btn-secondary">OFF</button>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select js-device">
                            {% if truckscale_1 == 0 %}
                                <option value="0" selected>--------</option>
                            {% endif %}
                            {% for scale in scales %}
                                {% if truckscale_1 == scale.id %}
                                    <option value="{{scale.id}}" selected>{{scale.name}}</option>
                                {% else %}
                                    <option value="{{scale.id}}">{{scale.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="weight-indicator__body border border-2 border-dark">
                    <div class="weight-indicator__text d-flex align-items-center justify-content-center">
                        <span class="display-1 fw-normal js-display">-</span>
                        <span>kg</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- IP Camera 1 -->
        <div class="col-md-4">
            <div class="camera border border-1 p-2 bg-light js-ipcamera" data-name="camera_1" data-id="1" data-pk="{{ipcamera_1}}">
                <div class="camera__header row mb-2">
                    <div class="col-md-6">
                        <button type="button" class="js-camera-on btn btn-primary">ON</button>
                        <button type="button" class="js-camera-off btn btn-secondary">OFF</button>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select js-device">
                            {% if ipcamera_1 == 0 %}
                                <option value="0" selected>--------</option>
                            {% endif %}
                            {% for ipcamera in ipcameras %}
                                {% if ipcamera_1 == ipcamera.id %}
                                    <option value="{{ipcamera.id}}" selected>{{ipcamera.name}}</option>
                                {% else %}
                                    <option value="{{ipcamera.id}}">{{ipcamera.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="camera__body bg-secondary">
                    <img src="" alt="IP Camera..." class="camera__img w-100 js-display">
                    <span class="license_plate js-license_plate"></span>
                </div>
            </div>
        </div>
        <!-- IP Camera 2 -->
        <div class="col-md-4">
            <div class="camera border border-1 p-2 bg-light js-ipcamera" data-name="camera_2" data-id="2" data-pk="{{ipcamera_2}}">
                <div class="camera__header row mb-2">
                    <div class="col-md-6">
                        <button type="button" class="js-camera-on btn btn-primary">ON</button>
                        <button type="button" class="js-camera-off btn btn-secondary">OFF</button>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select js-device">
                            {% if ipcamera_2 == 0 %}
                                <option value="0" selected>--------</option>
                            {% endif %}
                            {% for ipcamera in ipcameras %}
                                {% if ipcamera_2 == ipcamera.id %}
                                    <option value="{{ipcamera.id}}" selected>{{ipcamera.name}}</option>
                                {% else %}
                                    <option value="{{ipcamera.id}}">{{ipcamera.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="camera__body bg-secondary">
                    <img src="" alt="IP Camera..." class="camera__img w-100 js-display">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/wsplugin.js' %}"></script>
{% endblock %}