{% extends 'base.html' %}

{% block title %}
    Transport Markalari
{% endblock %}

{% block content %}
    <div class="container my-3 pb-4">
        <div class="d-flex justify-content-between mb-2">
            <h3>Transport Markalari</h3>
            <div>
                <!-- Button trigger filter modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#filterModel">
                    Filter
                </button>
                <a href="{% url 'catalogs:brands' %}" class="btn btn-secondary me-3">Filterni tozalash</a>
                <!-- Filter Modal -->
                <div class="modal fade" id="filterModel" tabindex="-1" aria-labelledby="filterModelLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id=" filterModelLabel">Filter</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="get" class="col-md-8 offset-md-2">
                                    <div class="form-group my-2">
                                        <label for="{{filter.form.name__icontains.id_for_label}}" class="form-label">Nomi</label> 
                                        <input type="text" name="{{filter.form.name__icontains.name}}" id="{{filter.form.name__icontains.id_for_label}}" class="form-control" value="{{request.GET.name__icontains}}"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Filter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" href="{% url 'catalogs:brand-create' %}">+ Yangi qo'shish</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Kommanda</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in filter.qs %}
                    <tr>
                        <th scope="row">{{obj.id}}</th>
                        <td>{{obj.name}}</td>
                        <td>
                            <a href="{% url 'catalogs:brand-update' obj.id%}" class="btn btn-secondary btn-sm">Tahrirlash</a>
                            <a href="{% url 'catalogs:brand-delete' obj.id%}" class="btn btn-danger btn-sm">O'chirish</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}